.App {
}

p {
    margin: 0;
}

.Header {
    background-color: rgb(42, 47, 50);
    height: 7.5vh;
}

.Body {
    background-color: rgb(30, 36, 41);
}

.ChatRoom {
    height: 100%;
    overflow: scroll;
    padding: 20px 40px;
}

.Message {
    background-color: rgb(42, 47, 50);
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 10px 8px;
    margin: 10px 0;
}

.MessageHeader {
    font-size: 15px;
    font-weight: 500;
    color: green;
}

.MessageHeader > p {
    margin: 0;
}

.MessageContent {
    margin: 0;
}

.MessageContent > p {
    margin: 0;
}

.MessageTimeStamp {
    float: right;
    margin: -10px 0 -5px 4px;
    color: #f1f1f2a1;
    font-size: 11px;
}

.mention {
  color: rgb(104, 187, 228);
}